{
    email contact@lilabrandon.fr  # Email pour Let's Encrypt
}

lilabrandon.fr {
    root * /usr/share/caddy
    file_server

    # Rediriger tout le trafic HTTP vers HTTPS
    @notSecure {
        protocol http
    }
    redir @notSecure https://{host}{uri}
    
    # Gestion des routes pour React Router
    try_files {path} /index.html
}
